/*1359522339,173213983*/

.timelineSignUpDialog .logInContainer{padding:100px 0 0 15px;width:316px}
.timelineSignUpDialog .logInContainer .login_form_standalone_labels{width:315px}
.timelineSignUpDialog .logInContainer.fixedWidthFields .inputtext,
.timelineSignUpDialog .logInContainer.fixedWidthFields .inputpassword{width:200px}
.timelineSignUpDialog .logInContainer.placeholderFields .inputtext,
.timelineSignUpDialog .logInContainer.placeholderFields .inputpassword{padding-bottom:8px}
.timelineSignUpDialog .logInContainer .mainTitle{margin-left:4px}
.timelineSignUpDialog .signUpContainer{border-left:solid 1px #ccc;padding-left:20px;width:400px}
.timelineSignUpDialog .mainTitle{font-size:25px}
.timelineSignUpDialog .subtitle{font-size:15px;color:#333}
.timelineSignUpDialog .simple_registration_container{width:400px;padding-bottom:0}
.timelineSignUpDialogBody{background-color:#e7ebf2}
.timelineLayout .timelineLoggedOutSignUp,
.timelineLayout .timelineLoggedOutSignUpWithoutCover{z-index:199 !important}
div.timelineLoggedOutSignUpFollow{position:fixed;width:223px;background:rgba(231, 235, 242, 1);border:1px solid #3b5998}
.timelineLoggedOutSignUpWithoutCover div.timelineLoggedOutSignUpFollow{margin-top:10px}
div.pagelet_bluebar_fixed{height:82px}
div.blueBarHolderFixed{position:fixed;width:100%}
.fbTimelineLoggedOutTopSection #fbProfileCover .coverNoImage{height:172px;position:relative}
.fbTimelineLoggedOutTopSection #fbProfileCover .coverImage{margin-top:1px}
.fbTimelineLoggedOutTopSection #fbTimelineHeadline{min-height:60px}
.timelineLoggedOutMain{width:519px}
.timelineLoggedOutMain .profileInfoTable{margin:10px 17px 20px 17px;width:auto}
.timelineLoggedOutMain .profileText{margin-bottom:20px;margin-left:25px;margin-right:15px}
.timelineLoggedOutMain .allFavorites{width:517px}
.timelineLoggedOutMain .allFavorites
.mediaRow .blackBackground{height:75px;width:75px}
.timelineLoggedOutMain .allFavorites
.mediaRow .likeButtonContainer{left:-63px;top:26px}
.timelineLoggedOutMain .allFavorites
.mediaRow .mediaPortrait{width:75px}
.timelineLoggedOutMain .allFavorites
.mediaRow .mediaPortrait .profilePicContainer{height:75px}
.timelineLoggedOutMain .allFavorites
.mediaRow .mediaPortrait .profilePicContainer .photo{height:75px;width:75px}
.timelineLoggedOutMain .allFavorites .profileInfoTable{width:473px}
.timelineLoggedOutMain .allFavorites .timelineFavorites .uiHeader{margin-left:15px}
.timelineLoggedOutMain .allFavorites
.uiInfoTable .labelContainer{background-color:#fff;color:#999;margin:0;padding-left:0;padding-right:10px;padding-top:0;text-align:left}
.timelineLoggedOutMain .allFavorites
.profileInfoTable .spacer{border-top:1px solid #d6dae7}
.timelineLoggedOutRight{width:310px}
.timelineLoggedOutRight .profileInfoTable{margin:10px 15px 20px;width:auto}
.timelineLoggedOutRight .profile-friends{margin:10px 10px 20px 10px}
.timelineLoggedOutRight .profile-friends .profileFriendsText{width:auto}
.timelineLoggedOutRight .fbTimelineCompactSection .fbTimelineAboutMeHeader{margin-left:15px}
.timelineLoggedOutRight .fbTimelineAboutMeHeader h3 a{color:#3b5998}
.timelineLayout .timelineLoggedOutMain .profileInfoTable th.label,
.timelineLayoutLoggedOut .timelineLoggedOutMain .profileInfoTable th.label{padding-right:0;width:75px}
.timelineLayout .timelineLoggedOutMain #pagelet_hometown .profileInfoTable th.label,
.timelineLayoutLoggedOut .timelineLoggedOutMain #pagelet_hometown .profileInfoTable th.label{width:0}
.timelineLayoutLoggedOut #pagelet_timeline_main_column{position:relative}
.timelineLayoutLoggedOut #rightCol,
.timelineLayoutLoggedOutUserProfile .fbTimelineStickyHeader{display:none}
.timelineLayoutLoggedOut #globalContainer{width:851px}
.timelineLayoutLoggedOut .loggedout_menubar_container{min-width:851px}
.timelineLayoutLoggedOut .loggedout_menubar{width:851px}
.timelineLayout .timelineLoggedOutSignUp{position:absolute;right:18px;top:18px;min-width:244px;z-index:1}
.timelineLoggedOutSignUp #pagelet_loggedout_sign_up .uiButton + .uiButton{margin-left:7px}
.timelineLayout .timelineLoggedOutSignUpWithoutCover{position:absolute;right:1px;top:5px;min-width:244px;z-index:1}
.timelineLoggedOutSignUpWithoutCover .uiButton + .uiButton{margin-left:7px}
.timelineLayoutLoggedOutProfile .fbTimelineStickyHeader{top:0}
.timelineLayoutLoggedOutProfile .fbTimelineStickyHeaderVisible.fixed_elem{position:static !important}
.timelineLayout.timelineLayoutLoggedOut #pageFooter{margin:0 -30px;width:auto}
.-cx-PRIVATE-loginForm__placeholders .placeholder, .-cx-PRIVATE-loginForm__placeholders input{font-size:18px;padding:8px 10px}
.-cx-PRIVATE-loginForm__placeholders .uiStickyPlaceholderInput{background:#fff;border-radius:5px}
.-cx-PRIVATE-loginForm__placeholders .uiStickyPlaceholderInput .placeholder{box-sizing:border-box;overflow:hidden;padding-left:11px;padding-right:0;text-overflow:ellipsis;white-space:nowrap}
.-cx-PRIVATE-loginForm__roundedField{border-color:#27477e;border-radius:5px;width:174px}
button.-cx-PRIVATE-loginForm__button{padding:7px 0 8px;width:316px}
button.-cx-PRIVATE-loginForm__roundedButton{margin:0;width:194px}
.-cx-PRIVATE-loginForm__settings{line-height:20px}
.-cx-PRIVATE-loginForm__settings label, .-cx-PRIVATE-loginForm__settings a{color:#98a9ca}
.-cx-PRIVATE-loginFormStandalone__box{background:#fff;border:1px solid #27477e;border-radius:5px;width:314px}
.-cx-PRIVATE-loginFormStandalone__box input, .-cx-PRIVATE-loginFormStandalone__box .placeholder{padding:8px 10px}
.-cx-PRIVATE-loginFormStandalone__email input, .-cx-PRIVATE-loginFormStandalone__pass input{border:none;border-bottom:1px solid #ccc;width:294px}
.-cx-PRIVATE-loginFormStandalone__lightBox{border-color:#cdd0d9}
.-cx-PRIVATE-loginFormStandalone__email div.uiStickyPlaceholderInput, .-cx-PRIVATE-loginFormStandalone__lightBox .-cx-PRIVATE-loginFormStandalone__pass .uiStickyPlaceholderInput{border-bottom-left-radius:0;border-bottom-right-radius:0}
.-cx-PRIVATE-loginFormStandalone__pass div.uiStickyPlaceholderInput{border-radius:none}
.-cx-PRIVATE-loginFormStandalone__lightBox .-cx-PRIVATE-loginFormStandalone__pass input{border-bottom:none}
.-cx-PRIVATE-loginFormStandalone__lightBox .-cx-PRIVATE-loginFormStandalone__pass .uiStickyPlaceholderInput{border-bottom-left-radius:5px;border-bottom-right-radius:5px}
.-cx-PRIVATE-loginFormStandalone__settings{line-height:20px;padding:4px 10px;width:294px}
.-cx-PRIVATE-loginFormStandalone__keepLogin label, .-cx-PRIVATE-loginFormStandalone__forgotPassword{color:#777}
.-cx-PRIVATE-loginFormStandalone__lightPass{border-bottom:none}
div.-cx-PRIVATE-loginFormStandalone__lightSettings{padding:0;padding-top:10px;width:316px}
.-cx-PRIVATE-loginFormStandalone__button{width:316px}

#bootloader_0Vxb8 { height: 42px; }