/*1357354700,173217837*/

.sp_e87vt6{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yu/x/_E5oUtP2fk9.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_5d4ace{width:13px;height:14px;background-position:-13px -198px}
.selected .sx_5d4ace{background-position:0 -198px}
.sx_aef9b9{width:12px;height:14px;background-position:-12px -213px}
.selected .sx_aef9b9{background-position:0 -213px}
.sx_b852b8{background-position:-34px -515px}
.sx_8fce84{background-position:-17px -515px}
.sx_74db4f{background-position:0 -515px}
.sx_f30d01{background-position:-68px -498px}
.sx_c94e90{background-position:-51px -498px}
.sx_4b41a3{background-position:-34px -498px}
.sx_59ad5e{background-position:-17px -498px}
.sx_b5f4d9{background-position:0 -498px}
.sx_5d30a0{background-position:-68px -719px}
.sx_5541a2{background-position:0 -736px}
.sx_b34046{background-position:-17px -736px}
.sx_2947c6{background-position:-34px -736px}
.sx_10d282{background-position:-51px -736px}
.sx_396a3b{background-position:-68px -736px}
.sx_fd8776{background-position:0 -753px}
.sx_0cc05f{background-position:-17px -753px}
.sx_d2b547{background-position:-34px -753px}
.sx_1ca047{background-position:-51px -753px}
.sx_1ac78a{background-position:-68px -753px}
.sx_07853e{background-position:0 -770px}
.sx_3fd21c{background-position:-17px -770px}
.sx_fc9563{background-position:-34px -770px}
.sx_41b6ce{background-position:-68px -821px}
.sx_faece2{background-position:-68px -770px}
.sx_598277{background-position:0 -787px}
.sx_3c4f33{background-position:-17px -787px}
.sx_84decf{background-position:-34px -787px}
.sx_03db4f{background-position:-51px -787px}
.sx_2eb992{background-position:-68px -787px}
.sx_7b9c95{background-position:0 -804px}
.sx_b65f4f{background-position:-17px -804px}
.sx_1526a7{background-position:-34px -804px}
.sx_64013c{background-position:-51px -804px}
.sx_ee92d4{background-position:-68px -804px}
.sx_771b44{background-position:0 -821px}
.sx_c1b4c3{background-position:-17px -821px}
.sx_17b367{background-position:-34px -821px}
.sx_1966eb{background-position:-51px -821px}
.sx_b26279{background-position:-51px -770px}
.sx_c43dbd{background-position:-51px -617px}
.sx_fede04{background-position:-68px -617px}
.sx_c127a1{background-position:0 -634px}
.sx_cffa3b{background-position:-17px -634px}
.sx_3597de{background-position:-34px -634px}
.sx_c457e8{background-position:-51px -634px}
.sx_60513f{background-position:-68px -634px}
.sx_047b1a{background-position:0 -651px}
.sx_28491b{background-position:-17px -651px}
.sx_090771{background-position:-34px -651px}
.sx_315974{background-position:-51px -651px}
.sx_1420d4{background-position:-68px -651px}
.sx_826eae{background-position:0 -668px}
.sx_194a1b{background-position:-17px -668px}
.sx_382d28{background-position:-51px -719px}
.sx_4c5e15{background-position:-51px -668px}
.sx_5c2ba5{background-position:-68px -668px}
.sx_48d08b{background-position:0 -685px}
.sx_c5b975{background-position:-17px -685px}
.sx_6e857a{background-position:-34px -685px}
.sx_7e9ecd{background-position:-51px -685px}
.sx_ec756d{background-position:-17px -855px}
.sx_083696{background-position:0 -702px}
.sx_77f400{background-position:-17px -702px}
.sx_e82b48{background-position:-34px -702px}
.sx_11dbeb{background-position:-51px -702px}
.sx_44be4e{background-position:-68px -702px}
.sx_a1d483{background-position:0 -719px}
.sx_2c79aa{background-position:-17px -719px}
.sx_67ff72{background-position:-34px -719px}
.sx_05a817{background-position:-34px -668px}
.sx_9d60b1{background-position:-17px -991px}
.sx_3cd597{background-position:0 -991px}
.sx_b6e5a9{background-position:-68px -974px}
.sx_7932e2{background-position:-51px -974px}
.sx_a12b31{background-position:-34px -974px}
.sx_5551e8{background-position:-17px -974px}
.sx_e19406{background-position:0 -974px}
.sx_e110af{background-position:-68px -957px}
.sx_971bc3{background-position:-34px -991px}
.sx_fac4d3{background-position:-34px -957px}
.sx_e6412b{background-position:-51px -991px}
.sx_d8250d{background-position:0 -957px}
.sx_515b63{background-position:-68px -940px}
.sx_fce474{background-position:-51px -940px}
.sx_b50b7a{background-position:-34px -940px}
.sx_e2f3ff{background-position:-17px -940px}
.sx_9ea85a{background-position:-51px -957px}
.sx_3335cd{background-position:-17px -1042px}
.sx_f27cb1{background-position:0 -1042px}
.sx_ff04de{background-position:-68px -1025px}
.sx_43909d{background-position:-51px -1025px}
.sx_e231fb{background-position:-34px -1025px}
.sx_9785b4{background-position:0 -1025px}
.sx_b59d14{background-position:-68px -1008px}
.sx_34a5ef{background-position:-51px -1008px}
.sx_1eb5eb{background-position:-34px -1008px}
.sx_6a3fbe{background-position:-17px -1008px}
.sx_4726db{background-position:0 -1008px}
.sx_4e501b{background-position:-68px -991px}
.sx_fe5b40{background-position:-17px -1025px}
.sx_07d156{background-position:-68px -872px}
.sx_9b4a5c{background-position:0 -838px}
.sx_a3f083{background-position:-17px -838px}
.sx_a17e48{background-position:-34px -838px}
.sx_dee55a{background-position:-51px -838px}
.sx_26681e{background-position:-68px -838px}
.sx_d727d1{background-position:0 -855px}
.sx_b30b94{background-position:-17px -957px}
.sx_508979{background-position:-34px -855px}
.sx_22d970{background-position:-51px -855px}
.sx_d48ae0{background-position:-68px -855px}
.sx_f026b9{background-position:0 -872px}
.sx_3b0350{background-position:-17px -872px}
.sx_ac5392{background-position:-34px -872px}
.sx_7e4faa{background-position:-51px -872px}
.sx_6ffa6e{background-position:0 -940px}
.sx_163284{background-position:0 -889px}
.sx_b3f1dc{background-position:-17px -889px}
.sx_5c74a1{background-position:-34px -889px}
.sx_d5ba1f{background-position:-51px -889px}
.sx_1d1813{background-position:-68px -889px}
.sx_fd60b0{background-position:0 -906px}
.sx_96ba6c{background-position:-17px -906px}
.sx_15b7a8{background-position:-34px -906px}
.sx_c56532{background-position:-51px -906px}
.sx_2ff7a2{background-position:-68px -906px}
.sx_751e5d{background-position:0 -923px}
.sx_20f120{background-position:-17px -923px}
.sx_fe4c8f{background-position:-34px -923px}
.sx_8b9db9{background-position:-51px -923px}
.sx_a759be{background-position:-68px -923px}
.sx_d88e97{background-position:-68px -464px}
.sx_d02ca1{background-position:-51px -328px}
.sx_e959f6{background-position:-68px -328px}
.sx_182709{background-position:0 -345px}
.sx_903b52{background-position:-17px -345px}
.sx_917e74{background-position:-34px -345px}
.sx_f58946{background-position:-51px -345px}
.sx_74ce60{background-position:-68px -345px}
.sx_32a0ce{background-position:0 -362px}
.sx_1082a2{background-position:-68px -685px}
.sx_edc907{background-position:-17px -362px}
.sx_954666{background-position:-34px -362px}
.sx_2eaf01{background-position:-51px -362px}
.sx_669c44{background-position:-68px -362px}
.sx_ef76a6{background-position:0 -379px}
.sx_db2cc0{background-position:0 -430px}
.sx_c97287{background-position:-34px -379px}
.sx_ce9822{background-position:-51px -379px}
.sx_0d3889{background-position:-68px -379px}
.sx_e814ba{background-position:0 -396px}
.sx_92f7b7{background-position:-17px -396px}
.sx_63bb71{background-position:-34px -396px}
.sx_5c9fd8{background-position:-51px -396px}
.sx_3ce644{background-position:-68px -396px}
.sx_fa4917{background-position:0 -413px}
.sx_4cb0d8{background-position:-17px -413px}
.sx_1dfec8{background-position:-34px -413px}
.sx_5edcc1{background-position:-51px -413px}
.sx_76c9bc{background-position:-68px -413px}
.sx_a34e91{background-position:0 -294px}
.sx_9cb96c{background-position:-34px -277px}
.sx_bd0bd4{background-position:-17px -277px}
.sx_5e4482{background-position:0 -277px}
.sx_92157c{background-position:-68px -260px}
.sx_7b5bcb{background-position:-51px -260px}
.sx_4ac4fa{background-position:-34px -260px}
.sx_92e4cb{background-position:-17px -260px}
.sx_d343eb{background-position:-51px -277px}
.sx_c8c3d5{background-position:-68px -243px}
.sx_be729a{background-position:-51px -243px}
.sx_572297{background-position:-34px -243px}
.sx_83061c{background-position:-17px -243px}
.sx_754a33{background-position:0 -243px}
.sx_579f82{background-position:0 -260px}
.sx_1f8d3c{background-position:-68px -277px}
.sx_9851f7{background-position:-51px -294px}
.sx_132eb0{background-position:-17px -311px}
.sx_36097d{background-position:-34px -311px}
.sx_592f98{background-position:-51px -311px}
.sx_783040{background-position:0 -328px}
.sx_50ad28{background-position:-17px -328px}
.sx_e26aa1{background-position:-68px -311px}
.sx_6c17e6{background-position:0 -311px}
.sx_760023{background-position:-68px -294px}
.sx_7149b1{background-position:-34px -294px}
.sx_4a906b{background-position:-17px -294px}
.sx_041bed{background-position:-34px -328px}
.sx_096122{background-position:-17px -379px}
.sx_c6255b{background-position:-68px -515px}
.sx_f01a7e{background-position:0 -532px}
.sx_bf1dde{background-position:-17px -532px}
.sx_76434f{background-position:-34px -532px}
.sx_db8c9e{background-position:-51px -532px}
.sx_1712ba{background-position:-68px -532px}
.sx_ba4576{background-position:0 -549px}
.sx_f734c5{background-position:-17px -549px}
.sx_763f12{background-position:-34px -549px}
.sx_6a7706{background-position:-51px -549px}
.sx_0ad681{background-position:-68px -549px}
.sx_4275c8{background-position:0 -566px}
.sx_99aa81{background-position:-17px -566px}
.sx_a32d34{background-position:-34px -617px}
.sx_5302b7{background-position:-51px -566px}
.sx_81f14a{background-position:-68px -566px}
.sx_b1973c{background-position:0 -583px}
.sx_23c527{background-position:-17px -583px}
.sx_7eb829{background-position:-34px -583px}
.sx_09151e{background-position:-51px -583px}
.sx_2b6b5c{background-position:-68px -583px}
.sx_b3f603{background-position:0 -600px}
.sx_64c400{background-position:-17px -600px}
.sx_0f4732{background-position:-34px -600px}
.sx_686d0d{background-position:-51px -600px}
.sx_eea815{background-position:-68px -600px}
.sx_98e565{background-position:0 -617px}
.sx_c26575{background-position:-17px -617px}
.sx_3ffc47{background-position:-34px -566px}
.sx_20bcf1{background-position:-17px -430px}
.sx_689c9c{background-position:-34px -430px}
.sx_f1040a{background-position:-51px -430px}
.sx_b92a03{width:14px;background-position:-85px -243px}
.sx_d2aefb{background-position:-68px -430px}
.sx_c8e0f9{background-position:0 -447px}
.sx_f16b34{background-position:-17px -447px}
.sx_93e3de{width:14px;background-position:-85px -260px}
.sx_d65a01{background-position:-34px -447px}
.sx_f4611d{background-position:-51px -447px}
.sx_bac31e{background-position:-68px -447px}
.sx_aaf9bc{background-position:0 -464px}
.sx_0f292c{background-position:-17px -464px}
.sx_9afe9e{background-position:-34px -464px}
.sx_23da09{background-position:-51px -464px}
.sx_623c32{background-position:-51px -515px}
.sx_2fcd11{width:11px;height:14px;background-position:-61px -213px}
.selected .sx_2fcd11{background-position:-50px -213px}
.sx_efc7bd{width:5px;height:14px;background-position:-66px -228px}
.selected .sx_efc7bd{background-position:-61px -228px}
.sx_af5568{width:9px;height:14px;background-position:-89px -165px}
.selected .sx_af5568{background-position:-80px -165px}
.sx_4e7380{width:8px;height:14px;background-position:-52px -228px}
.selected .sx_4e7380{background-position:-44px -228px}
.sx_440270{width:10px;height:14px;background-position:-33px -228px}
.selected .sx_440270{background-position:-23px -228px}
.sx_a25a15{width:11px;height:14px;background-position:-11px -228px}
.selected .sx_a25a15{background-position:0 -228px}
.sx_9e9e34{width:12px;height:14px;background-position:-37px -213px}
.selected .sx_9e9e34{background-position:-25px -213px}
.sx_d1133d{width:11px;height:14px;background-position:-84px -213px}
.selected .sx_d1133d{background-position:-73px -213px}
.sx_895ff2{background-position:0 -481px}
.sx_664873{width:13px;height:12px;background-position:-40px -198px}
.selected .sx_664873{background-position:-27px -198px}
.sx_b59504{width:13px;height:12px;background-position:-67px -198px}
.selected .sx_b59504{background-position:-54px -198px}
.sx_73754d{width:9px;height:14px;background-position:-89px -180px}
.selected .sx_73754d{background-position:-80px -180px}
.sx_1d9242{background-position:-17px -481px}
.sx_c6c0f4{background-position:-34px -481px}
.sx_cdea9d{background-position:-51px -481px}
.sx_bed926{background-position:-68px -481px}
.sx_2853f1{width:28px;height:32px;background-position:0 -165px}
.sx_a609ca{width:23px;height:32px;background-position:-56px -165px}
.sx_621613{width:26px;height:32px;background-position:-29px -165px}
.sx_49ee5a{width:32px;height:32px;background-position:-66px -132px}
.sx_21acd0{width:32px;height:32px;background-position:-33px -132px}
.sx_e9e918{width:32px;height:32px;background-position:0 -132px}
.sx_bd5cd4{width:32px;height:32px;background-position:-66px -99px}
.sx_bb147e{width:32px;height:32px;background-position:-33px -99px}
.sx_90d64d{width:32px;height:32px;background-position:0 -99px}
.sx_7b690a{width:8px;height:13px;background-position:-85px -375px}
.sx_3c1476{width:8px;height:13px;background-position:-85px -389px}
.sx_1c7d3f{width:9px;height:13px;background-position:-85px -277px}
.sx_ba93e0{width:11px;height:13px;background-position:-72px -228px}
.sx_8219c8{width:11px;height:13px;background-position:-84px -228px}
.sx_82b0d9{width:8px;height:13px;background-position:-85px -403px}
.sx_05e68e{width:9px;height:13px;background-position:-85px -291px}
.sx_25466f{width:9px;height:13px;background-position:-85px -305px}
.sx_cb9ae5{width:9px;height:13px;background-position:-85px -319px}
.sx_3e2da1{width:9px;height:13px;background-position:-85px -333px}
.sx_1b146b{width:9px;height:13px;background-position:-85px -347px}
.sx_777ac6{width:9px;height:13px;background-position:-85px -361px}
.sx_db8cb7{width:13px;height:12px;background-position:-81px -198px}
.sx_2209ec{width:99px;height:98px;background-position:0 0}

#bootloader_u4PPO { height: 42px; }